header {
    
    background-color: white;
    display: flex;
    align-items: center;
    
    
}
header h1 {
    color: rgb(75, 199, 59);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    margin-right: 800px;
    
}
header span {
    color: red;
}
header a {
    color: #333;
    text-align: right;
    margin-left: 40px; 
    
    padding: 0px;
    text-decoration: none;
}
body {
    background-image: url('moroccan-flower.png');
}